.card {
    margin: 2vh;
    padding: 10px;
    flex-basis: 25%;
    height: 300px;
    position: relative;
}


.namePriceWrap {
    display: flex;
    align-items: center;
    margin: 15px
}

.pizzaName {
    position: absolute;
    left: 5%;
    margin-right: 35px;
}

.price {
    position: absolute;
    right: 5%;
}

/*.category {*/
/*    display: flex;*/
/*    margin-top: 20%;*/
/*}*/

.rank {
    display: flex;
}

.toppings {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}
.img {
    text-align: center;
}

button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 5%;
    bottom: 12%;
    border-radius: 50%;
    border: none;
    background-color: red;
}

button:hover {
    cursor: pointer;
}

button > img {
    width: 20px;
    color: white;
}